.box {
    width: 300px;
    height: 300px;
    border-radius:15px;
}

#red {
    z-index:10;
    background-color:#FF5C4A;
    position: relative;
    left:-10px;
    top:-10px;
}

#grey {
    background-color:lightgrey;
    position: absolute;
}

/* This one took a bit longer about 40 minutes because it took me a while to figure out how to get the shape underneath the other shape and shifting it a bit to the left and down */